$AppBackgroundColor: #24262B;
$PrimaryColor: #4D515B;
$SecondaryColor: #3A3C43;
$TertiaryColor: #4E5368;
$AccentColor: #FF7000;
$TextColor: #ffffff;
$ShadowColor: #000000;
$EmptyContentColor: #707070;