.search-page {
  padding: 0 2.25rem;
}

.user-search-input {
  margin-bottom: 2.25rem;
}

.user-list-header-line {
  margin-bottom: 2.25rem;
}

.user-item {
  margin-bottom: 1.125rem;
}

.mode-switch-tabs {
  margin-bottom: 1.75rem;
}
