@use "../../assets/scss/variables" as *;
@use "../../assets/scss/mixins" as *;

.search-input-wrapper {
  position: relative;
}

.search-input {
  width: 100%;
  border-radius: 4px;
  background-color: $PrimaryColor;
  @include setTransition(background-color 0.5s);

  @include setBackgroundColorOnFocus($SecondaryColor);
}

.search-icon {
  position: absolute;
  top: 0.75rem;
  right: 0.9375rem;
}